* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: auto;

}

h1 {
  font-family: 'Lora', serif;
  font-size: 42px;
}

h2, p {
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h2 {
  font-weight: bold;
}

.main {
  background: #fff;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav {

}

.header-section {
  display: flex;
  flex-wrap: wrap;
}

.top {
  width: 488px;
}
.img-playground {
  background-image: url("/images/medium-image.png");
  background-size: cover;
  width: 440px;
  height: 255px;
}

.tbn-section {
  display: flex;
  width: 488px;
}
.start-btn {
  color: #fff;
  background-color: #000000;
  width: 100px;
  height: 30px;
  margin: 40px 10px 40px 0;
}
.learn-btn {
  color: #000000;
  background-color: #fff;
  width: 100px;
  height: 30px;
  margin: 40px 0 40px 0;
}

.blog-section {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  border-top: #cccccc solid 1px;
}

.blog {
  display: flex;
  width: 440px;
  height: 205px;
  border: #cccccc solid 1px;
}

#first-blog {
  margin: 24px 24px 24px 0;
}
#second-blog {
  margin: 24px 0 24px 0px;
}

#third-blog {
  margin: 0 24px 24px 0;
}

#fourth-blog {
  margin: 0 24px 24px 0;
}

.blog-image {
  width: 200px;
  height: 205px;
}

#first-image {
  background-image: url("/images/medium-image-puff-1.jpeg");
  background-size: cover;
}

#second-image {
  background-image: url("/images/medium-image-puff-2.png");
  background-size: cover;
}

#third-image {
  background-image: url("/images/medium-image-puff-3.png");
  background-size: cover;
}

#fourth-image {
  background-image: url("/images/medium-image-puff-4.jpeg");
  background-size: cover;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 205px;
}

.writer-image {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bookmark {
  background: url("/images/bookmark.png");
  background-size: contain;
}


#first-writer {
  background-image: url("/images/writer-1.png");
  background-size: contain;
}

#second-writer {
  background-image: url("/images/writer-2.jpeg");
  background-size: contain;
}

#third-writer {
  background-image: url("/images/writer-3.jpeg");
  background-size: contain;
}

#fourth-writer {
  background-image: url("/images/writer-4.jpeg");
  background-size: contain;
}
